html {
  @include font(10px, 10px, 400);

  @media (max-width: $desktop) {
    @include font(10px, 10px, 400);
  }

  @media (max-width: $laptop) {
    @include font(8px, 8px, 400);
  }

  @media (max-width: $tablet) {
    @include font(10px, 10px, 400);
  }

  @media (max-width: $mobile) {
    @include font(10px, 10px, 400);
  }
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-width: 320px;
  margin: 0 auto;
  font-family: $monserrat;
  background-color: $darkBlue;
  color: $white;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-stretch: 120%;
//   padding-top: 9.2rem;

  @media (max-width: $laptop) {
    // шаблон медиа-запроса desktop-first
  }

  @media (min-resolution: $extra) {
    // шаблон для фонового изображения на экранах с повышенной плотностью пикселей
  }


}

// .main-body {
//    padding-top: 9.2rem;

// }

button {
  font-family: $monserrat;
}

body,
*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  position: relative;
  flex-grow: 1;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.grecaptcha-badge {
  opacity: 0;
  pointer-events: none;
}


.justify-align-center {
  @media (max-width: $mobile) {
    justify-content: center;
  }
}

.align-center {
  align-items: center;
}

.desktop {
  display: block;
  @media (max-width: $mobile) {
    display: none;
  }
}

.tablet {
  display: none;
  @media (max-width: $tablet) {
    display: block;
  }
}

.mobile {
  display: none;
  @media (max-width: $mobile) {
    display: block;
  }
}

.texture-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: url('data:image/svg+xml,<svg width="720" height="135" viewBox="0 0 720 135" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M628.891 50C583.848 50 583.848 0 538.635 0C493.422 0 493.592 50 448.55 50C403.507 50 403.507 1.19318 360.171 0C360.171 0 359.659 0 359.318 0C358.976 0 358.806 0 358.464 0C315.128 1.36364 314.445 50 269.915 50C225.384 50 224.872 0 179.659 0C134.445 0 134.616 50 89.5735 50C44.5308 50 45.0427 0 0 0V135H720V0C674.957 0 674.104 50 629.062 50H628.891Z" fill="url(%23paint0_linear_2014_9)"/><defs><linearGradient id="paint0_linear_2014_9" x1="275.294" y1="134.93" x2="275.294" y2="-25" gradientUnits="userSpaceOnUse"><stop offset="0.23" stop-color="%23DF1867"/><stop offset="1" stop-color="%23F286B2"/></linearGradient></defs></svg>');
  height: 13.5rem;
  user-select: none;
  pointer-events: none;

  &--small {
    height: 11.84rem;
    background-image: url('data:image/svg+xml,<svg width="632" height="119" viewBox="0 0 632 119" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M551.699 43.8628C512.185 43.8628 512.185 0 472.521 0C432.858 0 433.007 43.8628 393.493 43.8628C353.979 43.8628 353.979 1.04673 315.962 0C315.962 0 315.513 0 315.214 0C314.914 0 314.765 0 314.465 0C276.448 1.19626 275.849 43.8628 236.785 43.8628C197.72 43.8628 197.271 0 157.607 0C117.943 0 118.093 43.8628 78.5789 43.8628C39.065 43.8628 39.514 0 0 0V118.43H631.625V0C592.111 0 591.363 43.8628 551.849 43.8628H551.699Z" fill="url(%23paint0_linear_2009_10)"/><defs><linearGradient id="paint0_linear_2009_10" x1="247.386" y1="128.518" x2="247.386" y2="-62.2852" gradientUnits="userSpaceOnUse"><stop offset="0.23" stop-color="%23DF1867"/><stop offset="1" stop-color="%23F286B2"/></linearGradient></defs></svg>');
  }
}
